<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap" rel="stylesheet">
    <title>Debit Card Glassmorphism</title>
    <link rel="shortcut icon" href="../img/chip.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="container-about">
        <div class="ball-about"></div>
        <div class="card-about">
            <div class="face-about">
                <h3>made with love by <a class="profile" href="https://www.linkedin.com/in/joel-bidal-55852711b/" target="_blank">Joel Bidal</a></h3>
                <h5>Inspired by <a class="profile" href="https://www.youtube.com/watch?v=XeX1vsaufF0&ab_channel=OnlineTutorials" target="_blank">Online Tutorials</a></h5>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../js/vanilla-tilt.min.js"></script>
    <script type="text/javascript">
        VanillaTilt.init(document.querySelectorAll(".card-about"), {
            max: 25,
            speed: 400
        });
    </script>
</body>
</html>